<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onlineclass-main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onlineclass-util.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								课堂名称
							</div>
							<div class="cell">
								课堂代码
							</div>
							<div class="cell">
								任课教师
							</div>
						</div>
						{% for class in online_class %}
							<div class="row">
								<div class="cell" data-title="Full Name">
									{{ class.class_name }}
								</div>
								<div class="cell" data-title="Token">
									{{ class.class_token }}
								</div>
								<div class="cell" data-title="Teacher Name">
									{{ class.class_teacher }}
								</div>
							</div>
						{% endfor %}
					</div>
			</div>
		</div>
	</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>